%h1 Welcome
%p
  Welcome to my website made with Sinatra and HAML
%p
  .card{style: "width: 300px;"}
    .card-divider Product 1
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
  .card{style: "width: 300px;"}
    .card-divider Product 2
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
  .card{style: "width: 300px;"}
    .card-divider Product 3
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
  .card{style: "width: 300px;"}
    .card-divider Product 4
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
  .card{style: "width: 300px;"}
    .card-divider Product 5
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
  .card{style: "width: 300px;"}
    .card-divider Product 6
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
  .card{style: "width: 300px;"}
    .card-divider Product 7
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
  .card{style: "width: 300px;"}
    .card-divider Product 8
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
  .card{style: "width: 300px;"}
    .card-divider Product 9
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
  .card{style: "width: 300px;"}
    .card-divider Product 10
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
  .card{style: "width: 300px;"}
    .card-divider Product 11
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
  .card{style: "width: 300px;"}
    .card-divider Product 12
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
  .card{style: "width: 300px;"}
    .card-divider Product 13
    .card-section
      %h4 This is a product card.
      %p It has an easy to override visual style, and is appropriately subdued.
