!!!
%html
  %head
    %title Digital WebShop
    %link(rel="stylesheet" href="css/app.css")
    %link(rel="stylesheet" href="css/foundation.min.css")
    %script{:type => "text/javascript", :src  => "js/vendor/jquery.js"}
    %script{:type => "text/javascript", :src  => "js/vendor/what-input.js"}
    %script{:type => "text/javascript", :src  => "js/vendor/foundation.min.js"}
    %script{:type => "text/javascript", :src  => "js/app.js"}
    -# %script{type: "text/x-mathjax-config"}
    -#   :plain
    -#     $(document).foundation();
  %body
    #navgation.top-bar
      .top-bar-left
        %ul.dropdown.menu{"data-dropdown-menu": true}
          %li.menu-text
            Digital WebShop
          %li
            %a{href: "#"} One
            %ul.menu.vertical
              %li
                %a{href: "#"} One
              %li
                %a{href: "#"} Two
              %li
                %a{href: "#"} Three
      .top-bar-right
        %ul.menu
          %li
            %input{type: "search", placeholder: "Search"}
          %li
            %button{type: "button", class: "button"}
              Search

    #content.grid-x
      = yield
    #footer.grid-x
      Footer &copy;&copy; 2019

