#!/usr/bin/env sh

cd $(dirname $(readlink -f "$0"))

# type -f bundle

export SINATRA_ENV=development
export RACK_ENV=development

export PATH=$PATH:$HOME/bin/

bundle exec rackup --env "$SINATRA_ENV" -o 0.0.0.0 -p 4567 >> production.log 2>&1
