
.grid-container
  .grid-x.grid-margin-x
    %p.cell.small-4.skull &#9760;
  .grid-x.grid-margin-x
    %marquee.cell.small-2{:onMouseOver=>"this.stop();", :onMouseOut=>"this.start();", :scrolldelay=>10, :scrollamount=>4, :behavior=>"scroll"} Error! 500 Error!
